.card {
    background-image:linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.7)),url(../../event6.jpeg);
    margin-top: 40px;
    /*max-width: 800px;*/
    box-shadow: 1px 1px 20px #ffffff;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
}

.card-body {
    border-radius: 20px;
    padding: 0px 30px 15px 10px;
}

h4{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    text-shadow: 3px 2px 4px rgba(200, 255, 0, 0.8);
}

.list-group-item {
    background-color: transparent;
    font-size: 18px;
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.list-group-item:hover {
    background-color: rgba(255, 255, 0, 0.2);
}

.btn-danger{
    background-color: darkgoldenrod;
    width: 25%;
    margin-left: 79vh;
}

.navbar-brand{
    font-size: 27px;
    font-weight: bold;
}

.navbar-nav li.nav-item a.nav-link {
    color: white;
    font-size: 18px;
}