.card{
    background-image:linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url(../../birthday2.jpg);
    background-size: contain;
    color: rgba(7, 7, 7, 0.8);
    box-shadow: 1px 1px 20px #ffffff;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 20px;
    margin: 30px 350px;
}

body{
    background-color: rgba(70, 0, 0, 0.5);
}

h1{
    color: white;
    text-shadow: 3px 2px 4px rgba(200, 255, 0, 0.7);
    text-align: center;
    font-size: 55px;
}

.form-label{
    font-size: 23px;
    font-weight: bold;
    margin-left: 30vh;
    color: #ffffff;
    text-shadow: 3px 2px 4px rgba(7, 7, 7, 0.9);
}

.button{
    text-align: center;
}

.btn{
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
}